<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="header">
            <div class="title">Movies</div>
        </div>
        <div id="categories">
            We will put something useful here later
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </body>
</html>
